@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-size: 19px ;
    font-weight: normal ;
    font-family: 'Roboto', sans-serif;


    /* font: normal 16px'Roboto', sans-serif; */

    /* font-family: Cambria, Cochin, Georgia,
     Times, 'Times New Roman', serif; */     
}

    a {
        color: black;
        text-decoration: none;

    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        color: rgb(231, 20, 20);
    }

    .conteiner{
       max-width: 750px;
    }
    
    .avatar {
        width: 200px;
        border-radius: 28%;
        box-shadow: 4px 4px 14px rgba(238, 13, 13, 0.25);
    } 

    .info p  {
        color: #0e0d0d;
        margin: 0%;
        font-style: italic ;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase  ;
        word-spacing: 2px;
    
    }

    /* .seti  {
        color: rgb(10, 4, 4);
        text-transform: uppercase;
        font-family:cursive;
        letter-spacing: 5px;
        background: #ffffff;
        padding: 15px 10px 30px 50px;
        margin: 20px;


        border: 5px solid rgb(196, 16, 16) ;
        border-bottom-color: rgb(22, 13, 13) ;
        border-top-style: dotted ;  */
    /* }

.box-model > div   {
    float: left;
    background: #130202;
    height: 200px;
    border: 4px solid red;
    width: 20%;
    box-sizing: border-box;
    
} */ 
 
.card {
   padding: 15px 2px;
   background: #ffffff;
   margin-bottom: 30px;
   
}


.foto {
    padding:15px 100px  ;
    background: rgb(255, 255, 255);
}