@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-size: 19px ;
    font-weight: normal ;
    font-family: 'Roboto', sans-serif;


    /* font: normal 16px'Roboto', sans-serif; */

    /* font-family: Cambria, Cochin, Georgia,
     Times, 'Times New Roman', serif; */     
}

    .conteiner{
       max-width: 750px;
    }
    
    .avatar {
        width: 200px;
        border-radius: 28%;
        box-shadow: 4px 4px 14px rgba(238, 13, 13, 0.25);
    } 

    .info p  {
        color: #0e0d0d;
        margin: 0%;
        font-style: italic ;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase  ;
        word-spacing: 2px;
    
    }

    .seti  {
        color: rgb(27, 3, 3);
        text-transform: uppercase;
        font-family:cursive;
        letter-spacing: 5px;
        background: #ee0909;
        
    }

